root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

# noinspection EditorConfigKeyCorrectness
[*.cs]
dotnet_diagnostic.sa0001.severity = none
# region spacing
# Forbids leading space on empty line.
dotnet_diagnostic.sa1028.severity = error
dotnet_diagnostic.sa1200.severity = none
# SA1009: Closing parenthesis should not be preceded by a space
dotnet_diagnostic.sa1009.severity = none
# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.sa1111.severity = none
# do not require empty line before line-comments.
dotnet_diagnostic.sa1515.severity = none
# endregion
# prefers access modifier -> other keywords.
dotnet_diagnostic.sa1206.severity = none
# SA1202: 'public' members should come before 'private' members
dotnet_diagnostic.sa1202.severity = none
# We prefer System namespace first.
dotnet_diagnostic.sa1208.severity = error
dotnet_diagnostic.sa1210.severity = none
dotnet_diagnostic.sa1309.severity = error
# Each documentation gets rotten little by little.
dotnet_diagnostic.sa1600.severity = none
dotnet_diagnostic.sa1633.severity = none
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_indent_case_contents_when_block = true
csharp_indent_switch_labels = true
csharp_prefer_braces = true:suggestion

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:warning
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_default_value_when_type_not_evident = default_expression
resharper_enforce_line_ending_style = true
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_local_function_body = expression_body
resharper_method_or_operator_body = expression_body
resharper_no_indent_inside_if_element_longer_than = 2147483647
resharper_show_autodetect_configure_formatting_tip = false
resharper_trailing_comma_in_multiline_lists = true
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting = warning
resharper_arrange_attributes_highlighting = error
resharper_arrange_constructor_or_destructor_body_highlighting = error
resharper_arrange_default_value_when_type_not_evident_highlighting = error
resharper_arrange_local_function_body_highlighting = warning
resharper_arrange_method_or_operator_body_highlighting = warning
resharper_arrange_null_checking_pattern_highlighting = error
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_static_member_qualifier_highlighting = warning
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = error
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = warning
resharper_bad_child_statement_indent_highlighting = error
resharper_convert_to_constant_local_highlighting = suggestion
resharper_enforce_do_while_statement_braces_highlighting = error
resharper_enforce_fixed_statement_braces_highlighting = error
resharper_enforce_foreach_statement_braces_highlighting = error
resharper_enforce_for_statement_braces_highlighting = error
resharper_enforce_if_statement_braces_highlighting = error
resharper_enforce_lock_statement_braces_highlighting = error
resharper_enforce_using_statement_braces_highlighting = error
resharper_enforce_while_statement_braces_highlighting = error
resharper_inconsistent_naming_highlighting = hint
resharper_localizable_element_highlighting = hint
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_using_directive_highlighting = error
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_suspicious_type_conversion_global_highlighting = error
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
